/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,700;1,700&family=Roboto:wght@300&display=swap");

/* TODO: 
	Use thos color for border (#212529)
*/

/* General setup */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #15181a;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* typography */
h1,
h2,
h3 {
  font-family: "Roboto Mono", monospace;
  color: #e76a9e;
}

p,
input,
li {
  font-family: "Space Mono", monospace;
  color: #fff;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p,
li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Header Layout */
nav,
article,
aside,
footer {
  background-color: #15181a;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: #15181a;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  color: black;
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: #fff;
}

/* main Layout */
main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #15181a;
}

aside ul {
  padding-left: 0px;
}

aside li {
  padding-bottom: 10px;
  list-style: none;
  border-bottom: 3px solid tomato;
  border-bottom-right-radius: 10px;
}

aside a {
  text-decoration: none;
  color: #74e76a;
}

aside h2 {
  border-bottom: 7px solid springgreen;
  border-left: 2px solid springgreen;
  border-right: 2px solid springgreen;
  border-radius: 10px;
}

footer {
  margin-top: 10px;
}
