/* Fonts and Colors */

/* Font Size based to browser view 1rem = 16px */
.size-1 {
  font-size: 3rem;
}

.size-2 {
  font-size: 2.5rem;
}
.size-3 {
  font-size: 2rem;
}
.size-4 {
  font-size: 1.5rem;
}
.size-5 {
  font-size: 1.25rem;
}
.size-6 {
  font-size: 1rem;
}
.size-7 {
  font-size: 0.75rem;
}

/* Font Familty imported from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,700;1,700&family=Roboto:wght@300&display=swap");

.roboto-mono {
  font-family: "Roboto Mono", monospace;
}

.space-mono {
  font-family: "Space Mono", monospace;
}

/* Text Colors */
.has-a-white-text {
  color: hsl(0, 0%, 100%);
}

.has-a-black-text {
  color: hsl(0, 0%, 4%);
}

.has-a-light-text {
  color: hsl(0, 0%, 96%);
}

.has-a-dark-text {
  color: hsl(0, 0%, 21%);
}

.has-a-primary-text {
  color: hsl(171, 100%, 41%);
}

.has-a-primary-dark-text {
  color: hsl(171, 100%, 29%);
}

.has-a-link-text {
  color: hsl(217, 71%, 53%);
}

.has-a-link-dark-text {
  color: hsl(217, 71%, 45%);
}

.has-a-info-text {
  color: hsl(204, 86%, 53%);
}

.has-a-info-dark-text {
  color: hsl(204, 71%, 39%);
}

.has-a-success-text {
  color: hsl(141, 71%, 48%);
}

.has-a-success-dark-text {
  color: hsl(141, 53%, 31%);
}

.has-a-warning-text {
  color: hsl(48, 100%, 67%);
}

.has-a-warning-dark-text {
  color: hsl(48, 100%, 29%);
}

.has-a-danger-text {
  color: hsl(348, 100%, 61%);
}

.has-a-danger-dark-text {
  color: hsl(348, 86%, 43%);
}

/* Background Colors */
.background-white {
  background-color: hsl(0, 0%, 100%);
}

.background-dark {
  background-color: hsl(204, 11%, 9%);
}
